CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
freebsd-ports-prefix/

# Files generated when applying patches.
*.orig
*.rej

# Files originating from chromium source, which shouldn't be committed.
# (The source should be downloaded and unpacked using `grab_source.sh`)
ATL_OWNERS
AUTHORS
BUILD.gn
CODE_OF_CONDUCT.md
DEPS
DIR_METADATA
LICENSE
LICENSE.chromium_os
OWNERS
PRESUBMIT.py
PRESUBMIT_test.py
sandbox
services
signing_keys
skia
skia-prefix
sql
storage
styleguide
testing
third_party
tools
ui
url
v8
v8-prefix
webkit
webrtc-prefix
xdg-utils-prefix
infra                           
internal                        
ios                             
ios_internal                    
ipc                             
media                           
mojo                            
native_client                   
native_client_sdk               
net                             
out                             
pdf                             
perfeto-prefix                  
perfetto-prefix                 
pkg-descr                       
pkg-plist                       
ppapi                           
printing                        
remoting
rlz
components
content
courgette
crypto
dbus
device
devtools-frontend-prefix        
distinfo                        
docs                            
extensions                      
files
fuchsia_web
gin
google_apis
google_update
gpu
grab_source.sh
headless
hw_compile.sh
hw_hybrid.core
icu-prefix
PRESUBMIT_test_mocks.py
README.md
WATCHLISTS
android_webview
angle-prefix
apps
ash
base
build
build_overrides
buildtools
cc
cheribsd-ports
cheribsd-ports-prefix
chrome
chromecast
chromeos
clank
codelabs
codereview.settings
.clang-format
.clang-tidy
.clangd
.eslintrc.js
.git-blame-ignore-revs
.gitattributes
.gitmodules
.gn
.mailmap
.rustfmt.toml
.vpython3
.yapfignore
